.modal-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: whitesmoke;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.modal-login form {
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px 20px;
}
.modal-login h1 {
  font-size: 5em;
  text-align: center;
}

.modal-login h2 {
  text-align: center;
  margin-bottom: 60px;
}

.modal-login label {
  display: block;
  margin-bottom: 8px;
}
.modal-login input {
  width: 100%;
  font-size: 1.5em;
  padding: 16px 8px;
  margin-bottom: 30px;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-radius: 4px;
}

.login-btn {
  cursor: pointer;
}
